/*
  Name: Kennedy Page
  Date: 09.06.2024
  CSC 372-01

  This is the CSS file for styling the pie.html page.
*/

body {
    background-color: #FFFFFF; 
    color: #404040; 
    font-family: Georgia, serif; 
    font-size: 11pt;
    margin: 20px;
    padding: 0;
}

h1 {
    color: #A4A400; 
    background-color: #F0F0F0; 
    font-family: 'Lucida Sans Unicode', Arial, Helvetica, sans-serif; 
    font-size: 22pt;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
    
}

.intro {
    
    margin: 20px;
}


h2 {
    color: #A4A400;
    background-color: #F0F0F0; 
    font-family: 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
    font-size: 18pt;
    padding: 5px;
    text-decoration: underline;
    margin: 20px 0 10px 0;
}

ol{
    margin: 0 20px; 
    padding: 0 20px; 
    text-align: left; 
}

ul{
    margin: 0 20px; 
    padding: 0 20px; 
    text-align: left; 
    list-style-image: url('pie_icon.gif'); 
    padding-left: 20px;
}

blockquote {
    background-color: #FFFFA8; 
    border-left: 5px solid #A4A400; 
    margin: 20px 40px;
    font-style: italic;
}

pre {
    font-family: monospace; 
    text-align: left;
    margin-top: 20px;
    
    
}

a {
    color: #A4A400; 
    text-decoration: none; 
}
